<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">

  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul>
      <li class="dropdown list-unstyled">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"  style="color: #000;">
          Manage Recipe
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">To Shopping List</a>
          <a class="dropdown-item" href="#">Edit Recipe</a>
          <a class="dropdown-item" href="#">Delete Recipe</a>
        </div>
      </li>
    </ul>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>